header{
    background: cornflowerblue;
    color: cornsilk;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



#Materiales{

    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;

}

.importante{

    font-weight: bold;
    text-decoration: underline black;
    

}


h2{
    color: dodgerblue;
    font-family: 'Courier New', Courier, monospace; 
    
}





table {  color: rgb(0, 0, 0); 
    font-family: 'Courier New', Courier, monospace; 
    width: 450px; 
    height: 200px;
    border-collapse: collapse;
    border-color: white;
    
}



td, th { 
border: 2px solid white; 
 height: 30px; 
 

}





td { 
    background: #ffffff; 
    text-align: left;
    
}

tr:nth-child(even) td {
    background: #7c9feb; 
    
}  

tr:nth-child(odd) td { 
    background: #bad1f3;
    color: black;
} 


tr:nth-child(even) th { 
    background: #5a86e7; 
    color: black;
}  


tr:nth-child(odd) th { 
    background: #7fa3da;
    color: black;
} 




.recreo{

    font-weight: bold;
    text-align: center;
}




    